.lt_category_left{
  float: left;
    width: 90px;
    height: 100%;
    background-color: #fff;
    position: relative;
}
.lt_category_left li a {
    display: block;
    width: 90px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #666;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;;
    background-color: #E3E4E5;
}
.lt_category_left li .current{
    background-color: #fff;
    border-right: none;
}
.lt_category_right{
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    position: relative;
}
.lt_category_right li{
    float: left;
    width: 33%;
    text-align: center;
}
.lt_category_right li img {
    width: 70px;
    height: 50px;
    margin: 0 auto;
}