.lt_container .lt_nav{
    padding:10px;
}
.lt_main .lt_nav li{
    width: 33.3%;
    float: left;
}
.lt_nav li a{
    display: block;
}
/*产品区域*/
.lt_product{
    padding:10px;
}
.lt_product_item{
    width: 48%;
    float: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}
.lt_product_item:nth-child(2n+1){
    margin-right: 4px;
}
.lt_product_item a{
    display: block;
    padding: 10px;
}
.lt_product_item a .pice{
    text-decoration: line-through;
}
.lt_product_item a .oldPice{
    color: #FF4141;
}