.bg_color{
    background-color:  #222D32;
}
.mt_150{
    margin-top:150px;
}
.panel-title{
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}


*{
    padding: 0;
    margin: 0;
   
}
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}
ul{
    list-style: none;
}
/*主页部分*/
.lt_aside{
    width: 180px;
    height: 100%;
    background-color:#222D32;
    position: fixed;
    top:0;
    left:0;
    transition: all 1s;
}
/*在js中切换*/
.lt_aside.hidemenu{
    left: -180px;
}
.lt_aside .as_title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    text-align: center;
    background-color: #367FA9;
    /*margin-bottom: 10px;*/
}
.lt_aside .as_title a{
    color: #fff;
}

.lt_aside .as_uer{
    padding-top:30px;
}
.lt_aside .as_uer img{
    width: 80px;
    height: 80px;
    border-radius:50%;
    display: block;
    margin: 0 auto;
}
.lt_aside .as_uer p{
    height: 40px;
    line-height:40px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
}
.lt_aside .as_nav{
    padding-top: 10px;
}
.lt_aside .as_nav li i{
    margin-right:5px;
}
.lt_aside .as_nav  a{
    height: 40px;
    line-height: 40px;
    display: block;
    padding-left: 40px;
    margin-right:5px;
    color: #fff;
    border-left:3px solid transparent;
}

/*//切换公共类*/
.lt_aside .as_nav li a.current{
    background-color: #1D1F21;
    border-left: 3px solid #006699;
}
.lt_aside .as_nav .child a{
    padding-left: 60px;
}
/*右侧内容区域*/
.lt_main {
    width: 100%;
    height: 1000px;
    /*background-color: paleturquoise;*/
    padding-left: 180px;
    transition: all 1s;
}
/*在js中切换*/
.lt_main.hidemenu{
    padding-left: 0px;
}
.lt_main .lt_topbar{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #3C8DBC;
    padding-left: -180px;
    transition: all 1s;
}
.lt_main .lt_topbar a{
    width: 50px;
    height: 50px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.lt_main  .container-fluid{
    margin-top: 20px;
}
.lt_main  .container-fluid a{
    color: #337ab7;
}

/*echarts部分*/
.lt_main .lt_content{
    width: 100%;
    height: 500px;

}
.lt_main .lt_echarts1{
    width: 48%;
    height: 400px;
    margin-right: 20px;

}
.lt_main .lt_echarts2{
    width: 45%;
    height: 400px;

}

.table.table-bordered th,
.table.table-bordered td {
    text-align: center;
    /* 设置表格内容垂直居中 */
    vertical-align: middle;

}

.lt_content .btn{
    margin-bottom: 20px;
}
    /*登录模态框*/
#myModal .red{
    color: #A94442;
}
