.bg_color {
  background-color: #222D32;
}

.mt_150 {
  margin-top: 150px;
}

.panel-title {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
}

html, body {
  height: 100%;
  width: 100%;
}
/* lvha */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

.red {
  color: #A94442;
}



/* .lt_aside 开始 */
.lt_aside {
  width: 180px;
  height: 100%;
  background-color: #222D32;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  transition: all 1s;
}
.lt_aside.hidemenu {
  left: -180px;
}


.lt_aside .brand {
  width: 180px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  background-color: #367FA9;
}
.lt_aside .brand a {
  color: #fff;
}

.lt_aside .user {
  height: 180px;
  padding-top: 30px;
}
.lt_aside .user img {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}
.lt_aside .user p {
  text-align: center;
  color: #fff;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
}

.lt_aside .nav li a {
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 40px;
  color: #fff;
  border-left: 3px solid transparent;
}
.lt_aside .nav li a.current {
  background-color: #1D1F21;
  border-left: 3px solid #006699;
}

.lt_aside .nav li i {
  margin-right: 5px;
}
.lt_aside .nav .child a {
  padding-left: 60px;
}
/* .lt_aside 结束 */


/* lt_main 开始 */
.lt_main {
  min-height: 1000px;
  background-color: pink;
  padding-left: 180px;
  padding-top: 50px;
  transition: all 1s;
}
.lt_main.hidemenu {
  padding-left: 0px;
}

.lt_topbar {
  height: 50px;
  width: 100%;
  background-color: #3C8DBC;
  position: fixed;
  left: 0;
  top: 0;
  padding-left: 180px;
  transition: all 1s;
}
.lt_topbar.hidemenu {
  padding-left: 0px;
}

.lt_topbar a {
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.lt_main .breadcrumb {
  margin-top: 20px;
}


/* lt_main 结束 */